extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Админ панель';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Админ панель

    //- Демонстрация компонента
    .ui-kit__component-demo
        include ./../sections/admin-panel.pug
    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            include ./../sections/admin-panel.pug

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
            sections/admin-panel.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            .admin-panel
                .admin-panel__block-list
                    a(href="").admin-panel-link 
                        img(src="", alt="")
                        .span Перейти в админ панель
                    a(href="").admin-panel-link
                        img(src="", alt="")
                        .span Профиль
                    a(href="").admin-panel-link
                        .admin-panel__message 
                            img(src="", alt="")
                        .span Сообщение
                    a(href="").admin-panel-link
                        .admin-panel__comments 
                            img(src="", alt="")
                        .span Комментарии
                    a(href="").admin-panel-link
                        img(src="", alt="")
                        .span Редактировать эту страницу

                    button.admin-panel__block-button Выход
          