extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Форма обратной связи';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Форма обратной связи

    //- Демонстрация компонента
    .ui-kit__component-demo
        .block-full-width
            include ./../sections/feedback-form.pug

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            include ./../sections/feedback.pug

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        sections/feedback.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin test-button(link, text="Перейти")
                a(class="test-button" href= link)&attributes(attributes) #{text}