extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Файловая кнопка

    //- Демонстрация компонента
    .ui-kit__component-demo
        +file-button()

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +file-button()

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/file-button.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin file-button(text="Выбрать файл", type="file")
                button(class="file-button" type= type)&attributes(attributes) \#{text}