extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Инпуты

    //- Демонстрация компонента
    .ui-kit__component-demo
        .block-full-width
            +input("Заголовок поста", "Введите название записи")
            //- label.input__label Заголовок поста
            //-     input.input(type="text" placeholder="Введите название записи")
        

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +primary-button()

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/input.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin primary-button(text="Отправить", type="submit")
                button(class="primary-button" type= type)&attributes(attributes) \#{text}