extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Пост обо мне';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Пост обо мне

    //- Демонстрация компонента
    .ui-kit__component-demo
        +post-about-me('обо мне')             

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +post-about-me('обо мне')                   
           
    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/post-about-me.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin post-about-me(title)
                .post-about-me
                    h4.post-about-me__title \#{title}
                    p Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я обновлю в нём свой контент. А пока посмотрите, как тут всё классно! 
            