extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Навыки

    //- Демонстрация компонента
    .ui-kit__component-demo
        +post-about-scills()

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +post-about-scills()

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/post-about-scills.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin post-about-scills( title='чем могу быть полезен')
                .post-about-scills        
                    h4.post-about-scills__title \#{title}
                    ul.scills__list
                        each skill in ['Верстка сайтов', 'Frontend' ,'UI/UX дизайн']
                            li.scills__list-item \#{skill}