extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Оставить комментарий';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Оставить комментарий

    //- Демонстрация компонента
    .ui-kit__component-demo
        .block-full-width
            include ./../sections/post-comment.pug


    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            include ./../sections/post-comment.pug

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        sections/post-comment.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            .post-comment            
                .post-comment__avatar
                    +avatar-small("./../img/avatars/avatar-comment.png")
                form.post-comment__form
                    .post-comment__form-textarea
                        +textarea("Введите ваш комментарий...")
                    .post-comment__form-button
                        +primary-button("Комментировать")