extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Основная кнопка

    //- Демонстрация компонента
    .ui-kit__component-demo
        +primary-button('button', 'Текст кнопки')

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +primary-button('submit', 'Текст кнопки')

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/primary-button.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin primary-button(type="submit", text="Отправить")
                button(class="primary-button" type= type)&attributes(attributes) #{text}