extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Секция пагинация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Секция пагинация

    //- Демонстрация компонента
    .ui-kit__component-demo
        include ./../sections/section-pagination.pug

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            include ./../sections/section-pagination.pug
            

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        sections/section-pagination.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            .section-pagination
                .section-pagination__item
                    +pagination-button("назад")
                .section-pagination__item  
                    +pagination-button("1")
                .section-pagination__item
                    +pagination-button("2")
                .section-pagination__item
                    +pagination-button("3")
                .section-pagination__item
                    +pagination-button("вперед") 