extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Секция навыков';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Секция навыков

    //- Демонстрация компонента
    include ./../sections/section-skills.pug

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            include ./../sections/section-skills.pug

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        sections/section-skills.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            .section-skills
                .container
                    h2.section-skills__title Навыки
                    .section-skills__wrapper            
                        +block-item-skills('./../img/block-item-scills/ui.png', 'UI/UX design')            
                        +block-item-skills('./../img/block-item-scills/html5.png', 'HTML5')            
                        +block-item-skills('./../img/block-item-scills/css3.png', 'CSS3')            
                        +block-item-skills('./../img/block-item-scills/js.png', 'JS')            
                        +block-item-skills('./../img/block-item-scills/php.png', 'PHP')            
                        +block-item-skills('./../img/block-item-scills/wp.png', 'WordPress')     