.admin-panel
    .admin-panel__block
        .admin-panel__block-list
            a(href="").admin-panel-link
                <img  src="./../img/admin-panel/admin-panel1.png" alt="">
                .span Перейти в админ панель
            a(href="").admin-panel-link
                <img  src="./../img/admin-panel/admin-panel2.png" alt="">
                .span Профиль
            a(href="").admin-panel-link
                .admin-panel__message <img  src="./../img/admin-panel/admin-panel3.png" alt="">
                .span Сообщение
            a(href="").admin-panel-link
                .admin-panel__comments <img  src="./../img/admin-panel/admin-panel4.png" alt="">
                .span Комментарии
            a(href="").admin-panel-link
                <img  src="./../img/admin-panel/admin-panel5.png" alt="">
                .span Редактировать эту страницу

        button.admin-panel__block-button Выход