.admin-panel
    .admin-panel__block-list
        a(href="#").admin-panel__link
            <img  src="./../img/admin-panel/target.svg" alt="Перейти в админ панель">
            .span Перейти в админ панель
        a(href="#").admin-panel__link
            <img  src="./../img/admin-panel/user.svg" alt=" Профиль">
            .span Профиль
        a(href="#").admin-panel__link
            .admin-panel__message 
                <img  src="./../img/admin-panel/mail.svg" alt=" Сообщение">
            .span Сообщение
        a(href="#").admin-panel__link
            .admin-panel__comments 
                <img  src="./../img/admin-panel/message-square.svg" alt="Комментарии">
            .span Комментарии
        a(href="#").admin-panel__link
            <img  src="./../img/admin-panel/edit-3.svg" alt="Редактировать эту страницу">
            .span Редактировать эту страницу

    button.admin-panel__block-button Выход