.block-contacts
    .block-contacts__title
        +heading("Контакты")
    dl.block-contacts__info
        +contacts("Email", "hi@digitalnomad.pro", "mailto:hi@digitalnomad.pro")
        +contacts("Мобильный", "+7 (905) 555-77-88", "tel:+79055557788")
        +contacts("Адрес", "Москва, Пресненская набережная, д. 6, стр. 2")