.control-panel
    .control-panel__container
        .control-panel__title-wrapper
            h2.control-panel__title Digital Nomad
            p.control-panel__subtitle панель управления
        ul.control-panel__list
            +control-panel-link("Блог", "./../img/control-panel/book.svg").control-panel__list-link--active
                ul.control-panel__list
                    +control-panel-link("Добавить пост", "./../img/control-panel/corner.svg").control-panel__inner-link.control-panel__inner-link--active 
                    +control-panel-link("Все записи", "./../img/control-panel/corner.svg").control-panel__inner-link
            +control-panel-link("Портфолио", "./../img/control-panel/portfolio.svg")
            +control-panel-link("Страницы", "./../img/control-panel/file.svg")
            +control-panel-link("Сообщения", "./../img/control-panel/mail.svg", "8")
            +control-panel-link("Комментарии", "./../img/control-panel/message.svg", "15")
            +control-panel-link("Пользователи", "./../img/control-panel/users.svg")
            +control-panel-link("Настройки", "./../img/control-panel/settings.svg")
    ul.control-panel__list
        +control-panel-link("Мой профиль", "./../img/control-panel/user.svg")
        +control-panel-link("Выход", "./../img/control-panel/log-out.svg")




