.section-about-main
    .container
        .row
            .section-about-main__img
                img(src= "./../img/section-about-main/section-about-main.jpg" alt= "Изображение")
            .section-about-main__wrapper
                .section-about-main__content
                    +post-about-me('обо мне')
                        p Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я обновлю в нём свой контент. А пока посмотрите, как тут всё классно!              
                +post-about-skills()