.section-admin-post
    .section-admin-post__wrapper     
        +heading('Добавить пост')
    .section-admin-post__wrapper 
        +input("Заголовок поста", "Введите название записиа") 
    .section-admin-post__wrapper 
        +textarea('Введите текст', 'Содержимое поста') 
    .section-admin-post__wrapper      
        +block-upload('Обложка поста:', 'Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более. Вес до 2Мб.') 
    .section-admin-post__wrapper  
        +primary-button('Опубликовать')