.section-skills
    .container
        .section-skills__title
            +heading('Навыки') 
        .section-skills__wrapper            
            +block-item-skills('./../img/block-item-scills/ui.svg', 'UI/UX design')            
            +block-item-skills('./../img/block-item-scills/html5.svg', 'HTML5')            
            +block-item-skills('./../img/block-item-scills/css3.svg', 'CSS3')            
            +block-item-skills('./../img/block-item-scills/js.svg', 'JS')            
            +block-item-skills('./../img/block-item-scills/php.svg', 'PHP')            
            +block-item-skills('./../img/block-item-scills/wp.svg', 'WordPress')