.section-pagination
    .section-pagination__item
        +pagination-button("назад")
    .section-pagination__item  
        +pagination-button("1").active
    .section-pagination__item
        +pagination-button("2")
    .section-pagination__item
        +pagination-button("3")
    .section-pagination__item
        +pagination-button("вперед") 