.section-footer
    .container
        .row
            .col.section-footer__copyright
                p © Юрий Ключевский
                p Создано в WebCademy.ru в 2020 году.
            .col.section-socialIcons
                +footer-icons("./../img/favicons/youtube-brands.svg", "Youtube", 30, 21, "#")
                +footer-icons("./../img/favicons/instagram.svg", "instagram", 24, 26, "#")
                +footer-icons("./../img/favicons/facebook.svg", "facebook", 18, 28, "#")
                +footer-icons("./../img/favicons/vk.svg", "vk", 30, 18, "#")
                +footer-icons("./../img/favicons/linkedin.svg", "linkedin", 25, 28, "#")
                +footer-icons("./../img/favicons/github-brands.svg", "github-brands", 27, 28, "#")