.section-footer
    .copyright
        .copyright__author © Юрий Ключевский
        .copyright__creat Создано в WebCademy.ru в 2020 году.
    .socialIcons
        +icon("http://Youtube.com", "./../img/favicons/youtube-brands.svg", "Youtube", 30, 21)
        +icon("http://instagram.com", "./../img/favicons/instagram.svg", "instagram", 24, 26)
        +icon("http://facebook.com", "./../img/favicons/facebook.svg", "facebook", 18, 28)
        +icon("http://vk.com", "./../img/favicons/vk.svg", "vk", 30, 18)
        +icon("http://linkedin.com", "./../img/favicons/linkedin.svg", "linkedin", 25, 28)
        +icon("http://github.com", "./../img/favicons/github-brands.svg", "github-brands", 27, 28)