.section-about
    .container
        .section-about__title
            +heading("Обо мне")
        .row
            .section-about__avatar.col
                +avatar-big('./../img/section-about-me/img-01.jpg')
            .section-about__content.col
                +post-about-me('обо мне')
                    p Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я обновлю в нём свой контент. А пока посмотрите, как тут всё классно!              
                +post-about-skills()