.section-timeline
    .container
        .row
            .col-12.section-timeline__title
                +heading("Опыт работы")
            .col-12.section-timeline__item-wrapper
                +timeline-item("февраль 2020 — по настояще время", "Frontend разработчик, Athlas IT solutions")
                    p Работа в команде социальной сети Атлас. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов.
            .col-12.section-timeline__item-wrapper
                +timeline-item("сентябрь 2018 — Декабрь 2019", "Разработчик интерфейсов, Индекс")
                    p Работы в проекте Индекс Аналитика. Создание новых разделов сервиса. Оптимизация и создание новых компонентов платформы.
            .col-12.section-timeline__item-wrapper
                +timeline-item("март 2015 — август 2018", "Веб-разработчик, Cloud studio")
                    p Frontend и Backend для клиентских проектов студии. Работа над студийной CMS для интернет магазинов. Участие в разработке CRM системы “Sky CRM”. Стек используемых технологий: JS, ReactJS. 