.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 5px;
    width: 280px;
    min-height: 100%;
    background: #212121;
    color: #FFFFFF;
}

.control-panel__container {
    margin-bottom: 100px;
}

.control-panel__title-wrapper {
    margin-bottom: 30px;
    text-align: center;
}

.control-panel__title {
    margin-bottom: 15px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;    
}

.control-panel__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.control-panel__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.control-panel__list-item {
    margin: 0;
    padding: 0;    
}

.control-panel__list-link {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
    text-decoration: none;
    transition: background 0.1s ease-in;

    &:hover {
        color: #FFFFFF;
        text-decoration: none;
        background: rgba(73, 82, 91, 0.5);
    }
}


.control-panel__list-link--active {
    background: #49525B;

    &:hover {
        background: #49525B;
    }
}

.control-panel__inner-link {
    padding-left: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #BDC3C7;
    transition: background 0.1s ease-in;

    &:hover {
        color: #BDC3C7;
        text-decoration: none;
        background: rgba(73, 82, 91, 0.5);
    }
}

.control-panel__inner-link--active {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
        text-decoration: none;
        background: rgba(73, 82, 91, 0.5);
    }
}

.control-panel__list-img-wrapper {
    flex-shrink: 0;
    position: relative;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.control-panel__list-img-wrapper-img {
    object-fit: cover;
    object-position: center;
}

.control-panel__list-img-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 4px;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1; 
    color: #FFFFFF;
    background-color: red;
    text-align: center;
}
