$grayFilebutton: #EAEFF2;
$lightgrayFilebutton: #DEF1FD;
$darkgrayFilebutton: #C4D0D7;

.file-button {
    border: none;
    border-radius: 6px;
    background: $grayFilebutton;
    outline: none;

    padding: 10px;

    color: $black;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    

    &:hover,
    &:focus {
        outline: none;
        background: $lightgrayFilebutton;
    }

    &:active {
        background: $darkgrayFilebutton;
    }
}





