.main-page {
    padding-bottom: 90px;
}

.main-page__section-about {
    margin-bottom: 60px;
}

.main-page__section-status {
    margin-bottom: 75px;
}

.main-page__projects-cards {
    margin-bottom: 35px;
}

.main-page__projects-cards-title {
    margin-bottom: 50px;
}

.main-page__projects-cards .card-project {
    margin-bottom: 40px;
}

.main-page__posts-cards-title {
    margin-bottom: 40px;
}