.section-timeline {
    margin-bottom: 80px;
    background-color: #fff;
}

.section-timeline__title {
    margin-bottom: 60px;
    text-align: center;    
}

.section-timeline__item-wrapper {
    position: relative;
    display: flex;
    text-align: right;

    &:nth-child(even) {
        justify-content: flex-end;
        text-align: left;
    }

    &:before {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        border: 6px solid #D9E2EC;
        border-radius: 50%;
    }

    &:not(:last-child) {
        padding-bottom: 60px;
        &:after {
            position: absolute;
            top: 52px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 6px;
            height: calc(100% - 32px);
            background: #D9E2EC;
        }   
    }
}