.section-about {
    padding: 60px 0;
}
.section-about__title {
    text-align: center;
    padding-bottom: 59px;
}
.section-about__avatar {
 .avatar-big {
    margin-left: auto;
    margin-right: 30px;
 }
}       
.section-about__content {
        margin-left: 30px;
        .post-about-me {
            margin-bottom: 35px;
        }
}
             