.section-footer {
    background-color: #131313;
    color: #fff;
    padding: 40px 0 120px 0; 
}

.section-footer__copyright {
    p {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
        &:last-child {
            margin: 0;
        }
    }
}
.section-social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .footer-icons {
        margin-right: 20px;
        &:last-child {
            margin: 0;
        }
    }
}