mixin input(placeholder, label)
    if label
        label.input__label #{label}
            input.input.input--width-label(type="text" placeholder= placeholder)&attributes(attributes)
    else
        input.input(type="text" placeholder= placeholder)&attributes(attributes)