mixin post-pagination ( linkback ="#", linkforward ="#")
    .post-pagination               
        a(class="post-pagination-button" href= linkback) Назад             
        a(class="post-pagination-button post-pagination-button--forward" href= linkforward) Вперед