mixin section-pagination()
    .section-pagination
        .pagination__item
            +pagination-button("назад")
        .pagination__item  
            +pagination-button("1")
        .pagination__item
            +pagination-button("2")
        .pagination__item
            +pagination-button("3")
        .pagination__item
            +pagination-button("вперед") 