extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
    - var title = 'Админ панель';
    - var pageClass= "admin-page";

block content
    .admin-page__left-panel
        include ./../sections/control-panel.pug
    .admin-page__content
        .admin-page__content-add-post
            include ./../sections/section-admin-post.pug
        .admin-page__content-add-post
            include ./../sections/section-admin-post.pug
        .admin-page__content-add-post
            include ./../sections/section-admin-post.pug
        .admin-page__content-add-post
            include ./../sections/section-admin-post.pug

