.left-panel.blue-skin
    .left-panel__section
        .left-panel__logo UI-KIT и PUG фреймворк

    .left-panel__section
        .left-panel__title Документация
        .left-panel-nav
            +linkLeftPanel("Документация", "docs.html")
            +linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
            +linkLeftPanel("Оформление кода", "docs-codestyle.html")
            +linkLeftPanel("Работа со стилями", "docs-styleguide.html")

    //- Тут будут ссылки на блоки
    .left-panel__section
        .left-panel__title Блоки
        .left-panel-nav
            +linkLeftPanel("Тестовая кнопка", "test-button.html")
            +linkLeftPanel("Аватарка большая", "avatar-big.html")
            +linkLeftPanel("Карточка для поста", "card-post.html")
            +linkLeftPanel("Аватарка маленькая", "avatar-small.html")
            +linkLeftPanel("Основная кнопка", "primary-button.html")
            +linkLeftPanel("Нотификации", "notifications.html")
            +linkLeftPanel("Вторичная кнопка", "secondary-button.html")
            +linkLeftPanel("Заголовки", "heading.html")
            +linkLeftPanel("Карточка для проекта", "card-project.html")
            +linkLeftPanel("Файловая кнопка", "file-button.html")
            +linkLeftPanel("Инпуты", "input.html")
            +linkLeftPanel("Текстареа", "textarea.html")
            +linkLeftPanel("Кнопка удаления", "delete-button.html")
            +linkLeftPanel("Кнопка навигации", "pagination-button.html")
            +linkLeftPanel("Кнопка пост-навигации", "post-pagination-button.html")
            +linkLeftPanel("Войдите или зарегистрируйтесь", "enter-or-reg.html")
            +linkLeftPanel("Оставить комментарий", "post-comment.html")
            +linkLeftPanel("Секция статус", "section-status.html")
            +linkLeftPanel("Блок загрузки файла", "block-upload.html")            
            +linkLeftPanel("Шапка", "section-header.html")
            +linkLeftPanel("Секция footer", "section-footer.html")
            +linkLeftPanel("Блок загрузки файла", "block-upload.html")
            +linkLeftPanel("Секция пагинация", "section-pagination.html")
            +linkLeftPanel("Секция c постом", "section-posts.html")
            +linkLeftPanel("Пост обо мне", "post-about-me.html")
            +linkLeftPanel("Навыки", "post-about-skills.html")
            +linkLeftPanel("Секция обо мне на главной", "section-about-main.html")
            +linkLeftPanel("Блок навыков", "block-item-skills.html")
            +linkLeftPanel("Секция обо мне в контактах", "section-about-contacts.html")
            +linkLeftPanel("Секция навыков", "section-skills.html")
            +linkLeftPanel("Блок ТаймЛайн", "timeline-item.html")
            +linkLeftPanel("Секция Timeline", "section-timeline.html")
            +linkLeftPanel("Блок контакты", "block-contacts.html")
            +linkLeftPanel("Секция добавления поста", "section-admin-post.html")


    //- Тут будут ссылки на блоки
    //- .left-panel__section
    //- 	.left-panel__title Блоки
    //- 	.left-panel-nav

    //- Тут будут ссылки на секции
    //- .left-panel__section
    //- 	.left-panel__title Секции
    //- 	.left-panel-nav

    //- Тут будут ссылки на страницы
    //- .left-panel__section
    //- 	.left-panel__title Страницы
    //- 	.left-panel-nav
